
html {
  font-size: 62.5%;

  @media screen and (max-width: 1030px) {
    font-size: calc(100vw / 130);
  }

  @media screen and (max-width: 960px) {
    font-size: calc(100vw / 100);
  }

  @media screen and (max-width: 769px) {
    font-size: calc(100vw / 70);
  }

  @media screen and (max-width: 640px) {
    font-size: calc(100vw / 50);
  }
  @media screen and (max-width: 410px) {
    font-size: calc(100vw / 45);
  }
}

body {
  position: relative;
  width: 100%;
  background: #fff;
  color: #1a1a1a;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.08em;
  line-height: 1.7;
}

a {
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  outline: none;
  text-decoration: none;
}

a {
  color: #1a1a1a;
}

a:hover {

}
.clickedbody{
  transition: all 1s ease-in-out;
  &::before{
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: background-color ease 1s;
    transition: background-color ease 1s;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    content: " ";
    z-index: 3;
  }
}

::-webkit-input-placeholder { /* Edge */
  color: #9fa0a0;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: #9fa0a0;
}

::placeholder {
  color: #9fa0a0;
}
