

  /* ----------------------------------------------------------------------------------------

  section-trouble

------------------------------------------------------------------------------------------- */

.section-trouble {

  .top-trouble  {
    background: center/cover no-repeat url("../images/bg_trouble.png");
    background-size: contain;
    position: relative;
    z-index: 2;
    padding: 130px 0 120px;
  }

  .ctn-trouble {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;

    &_item {
      background: #fff;
      min-width: 500px;
      border-radius: 5px;
      box-shadow:  0px 2px 9px #00000026;
      text-align: center;
      padding: 32px 30px 23px;
      margin-top: 50px;

      .trouble {
        @include fs (40, 64);
        font-weight: bold;
        letter-spacing: 0.075rem;
        height: 169px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 17px 0;
      }
    }
  }

  .bottom-trouble {
    background: center/cover no-repeat url("../images/bg_solve.png");
    background-size: contain;
    margin-top: -323px;
    padding: 300px 0 80px;
    text-align: center;
    color: #fff;
    position: relative;

    .text-plan {
      @include fs(60 , 100);
      font-weight: bold;
      text-shadow: 0px 2px 9px #00000026;
    }
    .solve {
      @include fs(44 , 88);
      font-weight: bold;
      text-shadow: 0px 2px 9px #00000026;
    }
  }
}

/* ----------------------------------------------------------------------------------------

secttion-Features

------------------------------------------------------------------------------------------- */

.section-features {
  padding: 100px 0;

  .ctn-features {
    &_item {
      width: 96.3%;
      padding-top: 50px;
      padding-bottom: 100px;
      border-bottom: 2px solid #C6C6C6;

      &:nth-child(2) {
        margin-left: 3.8%;
        .top-item {
          .thumb {
            order: 2;
          }

          .info-feature {
            order: 1;
          }
        }
      }
    }

    .top-item {
      display: flex;
      justify-content: start;

      .icon-features {
        margin-top: 20px;
        img {
          width: 50%;
          max-width: 90px;
        }
      }

      .ttl {
        @include fs (40, 80);
        color: #CD1C24;
        font-weight: bold;
      }

      .des {
        @include fs (24,44);
        font-weight: 400;
      }

    }

    .bottom-item {
      padding-top: 65px;
      .ttl-features {
        position: relative;
        @include fs(34,34);
        padding-bottom: 10px;
        padding: 0 50px;
        border-bottom: 2px solid #C6C6C6;
        &::before {
          content: '';
          width: 30px;
          height: 30px;
          background: #B1000E;
          position: absolute;
          top: 5px;
          left: 0;
        }
      }

      .img-step {
        padding-top: 50px;
      }
      .bottom-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left-item {
          width: 47%;
        }
        .right-item {
          width: 50%;
          text-align: center;
        }
      }
    }
  }
}



/* ----------------------------------------------------------------------------------------

secttion-contact

------------------------------------------------------------------------------------------- */
.secttion-contact h2.sec-head {
  margin-bottom: 0;
}

.secttion-contact .contact-container {
  margin-top: 5.3125em;
}

.secttion-contact .contact-container + .-text {
  margin: 30px 0 40px;
}

.secttion-contact .contact-container__item {
  width: 21.3483146067%;
}

.secttion-contact .contact-container__item .-text {
  height: 72px;
  font-size: 1.125em;
}

.secttion-contact .contact-container__item .-image {
  width: 98%;
  max-width: 150px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .button.-button-01 {
    width: 66.6666666667vw;
    max-width: 100%;
    height: 16vw;
    font-size: 4vw;
  }
  .button.-button-01 {
    width: 100%;
    max-width: 100%;
    height: 16vw;
    font-size: 4vw;
  }
  .button.-icon.-arrow::before {
    width: 2.8vw;
    height: 4.8vw;
  }

  .button.-icon:hover::before {
	right: 0.875em;
  }

  .secttion-contact .contact-container + .-text {
    margin: 0 0 8.6666666667vw;
  }
  .secttion-contact .contact-container {
    margin: 10.6666666667vw 2.2666666667vw 13.3333333333vw;
  }
  .secttion-contact .contact-container__item {
    width: 50%;
  }
  .secttion-contact .contact-container__item:nth-child(n+3) {
    margin-top: 5.6vw;
  }
  .secttion-contact .contact-container__item .-text {
    height: 9.6vw;
    font-size: 3.2vw;
  }
  .secttion-contact .contact-container__item .-image {
    width: 28vw;
    max-width: none;
  }
}
